.header {
  position: relative;
}
.header__wrapper {
  max-width: var(--content_width);
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__top {
  padding-top: 15px;
  padding-bottom: 18px;
}
.header__bottom {
  padding-top: 30px;
  padding-bottom: 20px;
  color: #fff;
  background-color: #1a1728;
  background-image: linear-gradient(to right, #1a1728, #5a526a, #1a1728);
}
.header__link {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 30px;
  text-decoration: none;
  color: #000;
  font-size: 14px;
  opacity: 0.7;
  
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  &--pay {
    margin-right: 45px;
    padding-left: 32px;
    
    &::before {
      width: 20px;
      height: 20px;
      top: -2px;
      background-image: url(../img/icons/cargo-truck.png);
    }
  }
  &--shop {
    margin-right: 30px;
    
    &::before {
      background-image: url(../img/icons/store.png);
    }
  }
  &--contacts {
    &::before {
      background-image: url(../img/icons/call.png);
    }
  }
  &--login {
    &::before {
      background-image: url(../img/icons/enter.png);
    }
  }
  &--reg {
    margin-left: 30px;
    
    &::before {
      background-image: url(../img/icons/user.png);
    }
  }
  
  &:hover span {
    text-decoration: underline;
  }
}
.header__logo {
  width: 120px;
}
.header__icon {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  margin-left: 15px;
  text-decoration: none;
  color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px 40px;
  .transition();
  
  &--like {
    background-image: url(../img/icons/like.svg);
  }
  &--cart {
    background-image: url(../img/icons/shopping-cart.png);
  }
  
  &:hover {
    opacity: 0.6;
    .transition();
  }
}
.header__num {
  position: absolute;
  top: -3px;
  right: -10px;
  width: 30px;
  height: 30px;
  display: block;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  border: 2px solid #fff;
  background-color: #1a1728;
  box-sizing: border-box;
}
.header__price {
  margin: 15px;
}
.header__cart {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
}