@media screen and (max-width: 1500px) {
  .menu__wrap,
  .header__wrapper {
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1200px) {
  .search {
    width: 50%;
  }
}
@media screen and (max-width: 1024px) {
  .menu__wrap,
  .header__wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}