.search__form {
  display: flex;
}
.search__btn {
  display: block;
  width: 30px;
  height: 25px;
  border-radius: 3px 0 0 3px;
  border: 0;
  background-color: #fff;
  background-image: url(../img/icons/search.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px 15px;
  outline: none;
}
.search__input {
  display: block;
  height: 25px;
  width: ~"calc(var(--header_search_width) - 25px)";
  border-radius: 0 3px 3px 0;
  border: 0;
  box-sizing: border-box;
  font-size: 12px;
  outline: none;
}